/* Global */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

html {
	font-family: "Heebo", sans-serif;
	font-weight: 400;
}

body {
	width: 60%;
	margin: auto;
	background-image: url("images/BG.png");
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}

.blue {
	color: #027bff;
}

h1 {
	font-size: 40px;
	font-weight: 700;
	color: #17191a;
}
h2 {
	font-size: 35px;
	font-weight: 700;
	color: #17191a;
}
h5 {
	font-size: 20px;
	margin-top: 10px;
	color: #17191a;
}

p {
	color: #8f9ea5;
	opacity: 0.8;
	font-weight: 100;
	margin-top: 10px;
	font-size: 20px;
}

/* Nav */

.nav {
	display: flex;
	align-items: center;
	vertical-align: middle;
	height: 100px;
}

.contact_me,
.nav_icons {
	flex: 1;
}

.nav_icons {
	text-align: right;
}
.nav_icons img {
	width: 70%;
	height: 70%;
}

.nav_icons a,
.contact_me a,
.contact_me img {
	display: inline-block;
	vertical-align: middle;
}

.nav_icons a {
	margin-left: 30px;
}
.contact_me a {
	color: #027bff;
	text-decoration: none;
}
.contact_me img {
	margin-right: 10px;
}

/* Landing */
.landing {
	height: 100vh;
	position: relative;
}

.landing_wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

ul {
	list-style: none;
	margin-top: 30px;
	line-height: 30px;
}

.landing_left {
	margin-top: 4em;
	width: 50%;
}

.scroll {
	position: absolute;
	bottom: 180px;
	left: 0;
	right: 0;
	margin: auto;
}

/* /* Skills / */
.skills {
	text-align: center;
	margin-bottom: 20em;
}
.skills p {
	margin-bottom: 30px;
}

.skills img {
	width: 40px;
	height: auto;
	margin: 0 15px;
}

/* Project 1 */

.work {
	width: 100%;
	position: relative;
	margin-bottom: 20em;
}

.work > .work_text {
	position: absolute;
	top: 85px;
}

.work > .work_text > .underline {
	display: block;
	background-color: #027bff;
	height: 3px;
	width: 61px;
	margin-top: 5px;
}

.work > a > .work_image {
	width: 85%;
	float: right;
	border: 10px solid rgb(255, 255, 255);
	-webkit-box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.06);
	-moz-box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.06);
	box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.06);
}

.work ul {
	position: absolute;
	bottom: 50px;
	right: 90%;
}

.work ul li {
	margin-top: 20px;
}

/* Project 2 */

.work2 {
	width: 100;
	position: relative;
	margin-bottom: 20em;
	text-align: right;
}

.work2 > .work_text {
	position: absolute;
	top: 85px;
	right: 0;
}
.work2 > .work_text > .underline {
	display: block;
	background-color: #027bff;
	height: 3px;
	width: 61px;
	margin-top: 5px;
	float: right;
}

.work2 > a > .work_image {
	width: 85%;
	float: left;
	border: 10px solid rgb(255, 255, 255);
	-webkit-box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.06);
	-moz-box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.06);
	box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.06);
}

.work2 ul {
	position: absolute;
	bottom: 30px;
	left: 90%;
}

.work2 ul li {
	margin-top: 20px;
}

/* project 1 and project 2 */

.work a,
.work2 a {
	text-decoration: none;
	color: #17191a;
}

/* Footer */
.footer {
	background-image: url("images/github_big_icon.svg");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 320px;
	padding-bottom: 7em;
	text-align: center;
}
.footer a {
	color: #027bff;
	text-decoration: none;
}

.underline_small {
	display: block;
	height: 3px;
	width: 41px;
	margin: 5px auto 0 auto;
	background-color: #027bff;
}

@media only screen and (max-width: 991px) {
	header p {
		width: 100%;
	}
	.nav {
		width: 96%;
		margin: auto;
	}
	body {
		width: 80%;
	}
	.work {
		width: 100%;
		position: relative;
		text-align: center;
		margin-bottom: 5em;
	}

	.work > .work_text {
		position: static;
		top: 0px;
	}

	.work > .work_text > .underline {
		margin: 5px auto 5px auto;
	}

	.work > a > .work_image {
		margin: 20px auto 20px auto;
		float: none;
	}

	.work ul,
	.work2 ul {
		visibility: hidden;
	}

	.work2 {
		width: 100;
		position: relative;
		margin-bottom: 5em;
		text-align: center;
	}

	.work2 > .work_text {
		position: static;
		top: 0;
		right: none;
	}
	.work2 > .work_text > .underline {
		margin: 5px auto 5px auto;
		float: none;
	}

	.work2 > a > .work_image {
		margin: 20px auto 20px auto;
		float: none;
	}
}

@media only screen and (max-width: 768px) {
	body {
		width: 96%;
	}
	.landing_wrapper {
		position: relative;
	}
	.landing_left {
		position: absolute;
		width: 96%;
		margin: 2%;
		top: 290px;
	}
	.landing_left > ul {
		visibility: hidden;
	}
	.landing_right {
		position: absolute;
		top: 0px;
		right: 10px;
	}
	.scroll {
		bottom: 220px;
	}
	.skills > .programs {
		width: 70%;
		margin: 20px auto 20px auto;
	}
}
