.example-container {
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 0;
}

.next,
.prev {
	top: calc(50% - 20px);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	font-size: 24px;
	cursor: pointer;
	z-index: 2;
}

.next {
	right: 15px;
}

.prev {
	left: 15px;
}

.fullscreen {
	top: 20px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	font-size: 24px;
	cursor: pointer;
	right: 20px;
	opacity: 0.5;
	z-index: 2;
}

.fullscreen:hover {
	opacity: 1;
}
