.loader {
	border: 2px solid var(--color-secondary); /* Light grey */
	border-top: 2px solid var(--color-primary); /* Blue */
	border-radius: 50%;
	width: 24px;
	height: 24px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
